<!DOCTYPE html>
<html>
  <head>
    <title>SkylabTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table>
      <tr>
        <td><%= link_to 'Question1', question1_answer_path %></td>
        <td><%= link_to 'Question2', question2_answer_path %></td>
        <td><%= link_to 'Question3', question3_answer_path %></td>
        <td><%= link_to 'Question4', question4_answer_path %></td>
        <td><%= link_to 'Question5', question5_answer_path %></td>
        <td><%= link_to 'Question6', question6_answer_path %></td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
